/* ---------------------------------------------------------------------- */

.box::before {
    top: -50%;
}

.box::after {
    top: -50%;
}

.borderLine::before {
    top: -50%;
}

.borderLine::after {
    top: -50%;
}

/* ---------------------------------------------------------------------- */