.box {
    height: 500px;
}

/* ---------------------------------------------------------------------- */

.box::before {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #000000,
        #000000,
        #000000
    );
}

.box::after {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #000000,
        #000000,
        #000000
    );
}

.borderLine::before {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #ff0090,
        #ff0090,
        #ff0090
    );
}

.borderLine::after {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #ff0090,
        #ff0090,
        #ff0090
    );
}

/* ---------------------------------------------------------------------- */