.box {
    height: 500px;
}

/* ---------------------------------------------------------------------- */

.box::before {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #FF8DCC,
        #FF8DCC,
        #FF8DCC
    );
}

.box::after {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #FF8DCC,
        #FF8DCC,
        #FF8DCC
    );
}

.borderLine::before {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #FDD1EA,
        #FDD1EA,
        #FDD1EA
    );
}

.borderLine::after {
    top: -35%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #FDD1EA,
        #FDD1EA,
        #FDD1EA
    );
}

/* ---------------------------------------------------------------------- */